JWT_SECRET=ZjFsbnIwMWwxM3R0M0xvbmcyMDI0aGFzaGRmZGdoanNma2xhZGZqa2FzZGZqa3NkanM=
TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI5OGM3Y2NmN2MxMmNhYzI4ZTMzYzFiNTA0ZTk1OGU4NSIsIm5iZiI6MTczNzMwNjkwNS43MDg5OTk5LCJzdWIiOiI2NzhkMzMxOWU0NTY2Mzk5YTI2ZGZiNDMiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.6wAeCSMBXlWYzTuqPTpmNBNf-uL4bAOBZFB8Y0pQt9g
CORS_URLS=http://localhost:5173,https://localhost:5173,http://localhost:8080,https://localhost:8080