SPRING_PROFILES_ACTIVE=dev

JWT_SECRET=
TMDB_API_KEY=
CORS_URLS=

# Optional overrides
# SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/postgres
# SPRING_DATASOURCE_USERNAME=postgres
# SPRING_DATASOURCE_PASSWORD=postgres